{% extends 'email/base.html.twig' %}

    {% block body %}
        <p>Hello {{ user.firstName }},</p>
    
        <p>
            Please confirm your email address by clicking <a href="{{ signedUrl|raw }}">this link</a>.
        </p>
            
        <p>
            You can also copy and paste the following link into your browser:
            <small><a href="{{ signedUrl|raw }}" style="word-break: break-all; display: inline-block; width: 100%;">{{ signedUrl }}</a></small>
        </p>
    
        <p>
            It will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
        </p>
    
        <p>
        Thank you for joining Kibuzn! Let's be zen about money together.
        </p>
    
    {% endblock %}
    