<tr>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
        {{ recurring_transaction.description }}
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
        {{ recurring_transaction.amount|number_format(2, ',', ' ') }}
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
        {{ recurring_transaction.startDate|date('Y-m-d') }}
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
        {% if recurring_transaction.permanent %}
            Permanent
        {% elseif recurring_transaction.endDate %}
            {{ recurring_transaction.endDate|date('Y-m-d') }}
        {% elseif recurring_transaction.iterations %}
            {{ recurring_transaction.iterations }} iterations
        {% else %}
            N/A
        {% endif %}
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
        Every {{ recurring_transaction.intervalValue }} {{ recurring_transaction.intervalType }}
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
        {% if recurring_transaction.endDate and recurring_transaction.endDate < date() %}
            <span class="text-red-500">Ended</span>
        {% else %}
            <span class="text-green-500">Active</span>
        {% endif %}
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
        <a href="{{ path('app_recurring_transaction_show', {'id': recurring_transaction.id}) }}" class="text-indigo-600 hover:text-indigo-900">Show</a>
        <a href="{{ path('app_recurring_transaction_edit', {'id': recurring_transaction.id}) }}" class="ml-2 text-indigo-600 hover:text-indigo-900">Edit</a>
    </td>
</tr>